body{
    font-size: 16px; /* 1em */
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}
header input{
    float: right; 
    margin-right: -200px;
    margin-top: 15px; /* position: relative; jala hacia adelante el input si es que queda atras */
}
header nav{
    /* border: 1px solid red; */
    margin-left: 220px;
}
header nav ul li{
    border-bottom: 1px solid gray;
    color: gray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 2px;
    /* text-decoration: underline; tambien subraya las palabras */
}
#granthams{
    margin-top: 25px;
    margin-left: 25px;
}
#paint{
    float: right;
}
