body{
    font-size: 16px; /* 1em */
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}
header input{
    float: right; 
    margin-right: -200px;
    margin-top: 15px; /* position: relative; jala hacia adelante el input si es que queda atras */
}
header nav{
    /* border: 1px solid red; */
    margin-left: 220px;
}
header nav ul li{
    border-bottom: 1px solid gray;
    color: gray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 2px;
    /* text-decoration: underline; tambien subraya las palabras */
}
#bgoffer{
    left: -35px;
    position: relative; /* Se mueve libremente en el body */
    top: -410px;
}
#granthams{
    margin-top: 25px;
    margin-left: 25px;
}
#paint{
    float: right;
}
#primerseccion{
    /* border: 1px solid blue; */
    height: 318px;
    margin-top: 60px;
}
#primerseccion article{
    display: inline-block;
    vertical-align: top;
}
#secc01art01{
    /* border: 1px solid red; */
    width: 61%;
}
#secc01art02{
    /* border: 1px solid red; */
    width: 30%;
    margin-left: 50px;
}
#secc01art02 ul{
    list-style: none;  /* Quita la vineta para que quede la de abajo */
}
#secc01art02 ul li:before{
    color: #FF0099;
    content: "• ";  /* Agrega la vineta para pintarla de color */
}
#secc03art04{
    padding-top: 45px;
}
#segundaseccion article{
    /* border: 1px solid red; */
    padding-right: 140px;  /* Mueve el texto NO la caja */
    /* margin-right: 140px;  mueve toda la caja (ambos estan bien)*/
    text-align: right;
}
#terceraseccion article{
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#terceraseccion article img{
    /*
        Aineacion vertical del texto
        que la rodea
    */
    vertical-align: middle;
}
#footer article{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}
#footer{
    background-color: rgb(81, 81, 243);
}
.colorblanco{
    color: white;
}
.colorazul{
    color: #4267b3;
}
.colorrosa{
    color: #FF0099;
}
.colorverde{
    color: #8BC500;
}
.letragrande{
    font-size: 3.5em; /* 3.5 x 16px */
}
.letramediana{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}