body {
    font-size: 16px;
    /* 1em */
    margin: 0px auto;
    /* centrado */
    max-width: 1024px;
}

header {
    text-align: center;
    background: #235e92;
}

#panelWP {
    vertical-align: top;
}

nav {
    background: #efefef;
    text-align: right;
}

#secc01 img {
    vertical-align: top;
    width: 100%;
}

#secc01 {
    display: inline-block;
    width: 30%
}

#secc01 article ul{
    background: #1e4973;
    margin-top: 0px;
}

#secc01 article ul li{
    color: white;
}

#secc02 {
    display: inline-block;
    vertical-align: top;
    width: 68%;
}

#secc02 article{
    margin-top: 8px;
}

#secc02art article {
    display: inline-block;
    text-align: center;
    width: 24.57%;
    height: 180px;
    vertical-align: top;
}

#secc02art article:nth-child(3) {
    background: #19a820;
}

#secc02art article:nth-child(4) {
    background: #1b6da9;
}

#secc02art article:nth-child(5) {
    background: #7f1aa8;
}

#secc02art article:nth-child(6) {
    background: #a71a19;
}

#artUsers article{
    background: #4a6aae;
    display: inline-block;
    text-align: center;
    height: 200px;
    vertical-align: top;
    width: 24%;
}
#artUsers article img{
    width: 90%;
    height: 140px;
}

#paneles{
    width: 100%;
}

#panelWP{
    background: #235e92;
    color: white;
    padding-right: 168px;
    font-size: 1.1em;
}

.boton{
    border: 0px solid white;
    background: #5bc0de;
}

.barra {
    width: 100%;
}

.letra-blanca{
    color: white;
}

.progressBar {
    margin-left: 8px;
}