html{
    --color-azul-fuerte: #1f2938;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1024px;
}

header{
    background-color: var(--color-azul-fuerte);
    padding: 20px 50px 100px 50px;
}

header img{
    position: relative;
    top: 10px;
}

header nav{
    float: right;
    margin-top: -20px;
}

header nav ul li{
    color: lightgray;
    display: inline-block;
    margin-left: 10px;
}

#btn1{
    background-color: #1d4ed8;
}

#btn2{
    background-color: #384152;
}

#seccion01{
    background-color: var(--color-azul-fuerte);
    height: 450px;
    padding: 0 150px;
    text-align: center;
}

#seccion01 button{
    border: 0px solid black;
    border-radius: 20px;
    color: white;
    padding: 6px 15px 10px 15px;
    margin: 40px 0;
}

#seccion01 button img{
    position: relative;
    top: 4px;
    width: 20px;

}

#seccion01>img{
    border: 5px solid white;
    border-radius: 20px;
    width: 80%;
}

#seccion02{
    margin-top: 200px;
    text-align: center;
}

#seccion02 article{
    display: inline-block;
    margin: 15px 10px;
    width: 30%;
}

.blanco{
    color: white;
}

.espaciado_grande{
    line-height: 4rem;
}

.espaciado_chico{
    line-height: 2.5rem;
}

.izquierda{
    text-align: left;
}

.gris{
    color: lightgray;
}

.gris_fuerte{
    color: gray;
}

.letra_grande{
    font-size: 1.8rem;
    font-weight: bold;
}

.letra_logo{
    font-weight: bold;
}

.nito{
    font-weight: bold;
}