html{
    /* Propiedades personalizables */
    --color-verde: #849c3c; /* custom propertie (variable) */
    --color-negro: #353535; /* Siempre empieza con doble guion -- */
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2C2C2C;
    --color-linea: #949494;
    --color-azul: lightblue;
    --color-blanco: white;
}
body{
    font-size: 16px; /* 1em */
    margin: 0px auto; /* centrado */
    max-width: 1024px;
}
footer article{
    width: 31.1%;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    vertical-align: top;
}
footer img{
    width: 300px;
}
header ul{
    margin-left: -40px;
}
header ul li{
    display: inline-block;
    margin-left: -2px;
    padding: 8px 14px;
    text-align: center;
    width: 17.0%;
}
header ul li:nth-child(2){ 
    background-color: var(--color-verde); /* usando la "variable" --color-verde */
}
header ul li:nth-child(3){ 
    background-color: var(--color-negro); /* usando la "variable" --color-negro */
}
header ul li:nth-child(4){ 
    background-color: var(--color-rojo); /* usando la "variable" --color-rojo */
}
header ul li:nth-child(5){ 
    background-color: var(--color-gris); /* usando la "variable" --color-gris */
}
section article{
    display: inline-block;
    height: 280px;
    padding: 18px 8px;
    vertical-align: top;
    width: 17.9%
}
hr{ /* La linea del HR se hace punteada -----*/
    border-style: dashed;
    color: var(--color-linea);
}
section article ul{
    list-style: none;
}
section article:nth-child(2){
    background: var(--color-verde);
}
section article:nth-child(3){
    background: var(--color-negro);
}
section article:nth-child(4){
    background: var(--color-rojo);
}
section article:nth-child(5){
    background: var(--color-gris);
}
section, footer{
    background: var(--fondo-negro);
}
section img{
    width: 150px;
}
.letra-azul{
    color: var(--color-azul);
}
.letra-blanca{
    color: var(--color-blanco);
}
.letra-gris{
    color: var(--color-linea);
}
.read-more{
    margin-left: 220px;
}
.tam-menu-lateral{
    font-size: 1.1em;
}
.tam-tarjetas{
    font-size: 1.7em;
}